@model Event

@{
    ViewData["Title"] = "eventDetails";
}

@section styles{
    <link rel="stylesheet" href="~/css/Event/EventDetails.css" />
}


<section class="details" id="details">
    <!-- <h1 class="heading"> title-text</h1> -->
    <div class="row">

        <div class="content-de">
            <h3 id="heading">@Model.Name</h3>
            <p id="text">@Model.Discription</p>

            <div class="big-info">
                <div class="info">
                    <img src="../../icons/location-pin (1).png" alt="">
                    <h3 id="det">@Model.City - @Model.PlaceName</h3>
                </div>
                <div class="info">
                    <img src="../../icons/age-alt.png" alt="">
                    <h3 id="det">@Model.ConstraintAge</h3>
                </div>
                <div class="info">
                    <img src="../../icons/schedule.png" alt="">
                    <h3 id="det">من @($"{Model.StartDate:dd/MM/yyyy}") إلى@($"{Model.FinishDate:dd/MM/yyyy}")</h3>
                </div>
                <div class="info">
                    <img src="../../icons/duration-alt.png" alt="">
                    <h3 id="det">من @Model.StartTime إلى @Model.FineshTime</h3>
                </div>

            </div>
            @if (DateTime.Today < Model.StartDate)
            {
                <p style="color: #9C88FF;" class="fw-bold">
                    <i class="fa-solid fa-hourglass-start" style="color: #9C88FF;"></i> لم يبدأ بعد
                </p>
            }
            else if (DateTime.Today > Model.FinishDate)
            {
                <p style="color: #9C88FF;" class="fw-bold">
                    <i class="fa-solid fa-circle-xmark" style="color: #9C88FF;"></i> انتهى الحدث
                </p>
            }
            else
            {
                <a asp-action="booking" asp-controller="Event" asp-route-idnumvent="@Model.Id" class="btn-de">
                     للحجز
                </a>
            }


        </div>
        <div class="pict-container">
            <img src="~/images/@Model.Image" alt="">
        </div>
    </div>
</section>
@* <img src="~/icons/art-studies.png" />
 *@<section class="big-contant" id="comments-section">
    <h1 id="heading">التعليقات</h1>    
    <form asp-action="AddComment" asp-controller="Event" method="post" class="search-bar">
        <input type="hidden" name="eventId" value="@Model.Id" />

        <div class="input-group mb-3">
            <input type="text" name="commentText" id="commentInput" class="form-control" placeholder="أضف تعليقك" required>
            <button class="btn btn-group-vertical" type="submit">
                <i class="fa-solid fa-square-plus fa-3x" style="color: #9C88FF;"></i>
            </button>
        </div>
    </form>

    @foreach(var comment in Model.Comments)
    {
        <div class="comments">
            <div class="timeline-item">
                <div class="timeline-content">
                    <div class="prof"><img src="~/icons/user.png" alt=""></div>
                    <div class="comment">
                        <h2>@comment.User.Name</h2>
                        <p>@comment.Comment1</p>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
