@model Event

@{
    ViewData["Title"] = "eventDetails";
}

@section styles{
    <link rel="stylesheet" href="~/css/Event/EventDetails.css" />
}


<section class="details" id="details">
    <!-- <h1 class="heading"> title-text</h1> -->
    <div class="row">

        <div class="content-de">
            <h3 id="heading">@Model.Name</h3>
            <p id="text">@Model.Discription</p>

            <div class="big-info">
                <div class="info">
                    <img src="../../icons/location-pin (1).png" alt="">
                    <h3 id="det">@Model.City - @Model.PlaceName</h3>
                </div>
                <div class="info">
                    <img src="../../icons/age-alt.png" alt="">
                    <h3 id="det">@Model.ConstraintAge</h3>
                </div>
                <div class="info">
                    <img src="../../icons/schedule.png" alt="">
                    <h3 id="det">يبدأ في @($"{Model.StartDate:dd/MM/yyyy}") ينتهي في @($"{Model.FinishDate:dd/MM/yyyy}")</h3>
                </div>
                <div class="info">
                    <img src="../../icons/duration-alt.png" alt="">
                    <h3 id="det">من @Model.StartTime إلى @Model.FineshTime</h3>
                </div>

            </div>
            <a href="../B&G/chose.html" class="btn-de">للحجز</a>
        </div>
        <div class="pict-container">
            <img src="~/images/@Model.Image" alt="">
        </div>
    </div>
</section>
@* <img src="~/icons/art-studies.png" />
 *@<section class="big-contant">
    <h1 id="heading">التعليقات</h1>
    <form asp-action="Search" asp-controller="Event" method="get" class="search-bar">
        <input type="text" name="searchTerm" placeholder="ابحث عن حدث..." />
        <button type="submit"><img src="~/icons/search-interface-symbol.png" alt="بحث"></button>
    </form>
    @foreach(var comment in Model.Comments)
    {
        <div class="comments">
            <div class="timeline-item">
                <div class="timeline-content">
                    <div class="prof"><img src="~/icons/user.png" alt=""></div>
                    <div class="comment">
                        <h2>@comment.User.Name</h2>
                        <p>@comment.Comment1</p>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
