@model IEnumerable<Event>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

@section styles {
    <link rel="stylesheet" href="~/css/Event/Search.css" />
}

<h2 class="heading">نتائج البحث عن: "@ViewBag.SearchTerm"</h2>

<form asp-action="Search" asp-controller="Event" method="get" class="search-bar">
    <input type="text" name="searchTerm" placeholder="ابحث عن حدث..." value="@ViewBag.SearchTerm" />
    <button type="submit"><img src="~/icons/search-interface-symbol.png" alt="بحث"></button>
</form>

<div class="container">
    <div class="big-contant">
        <section class="articles">
            @if (Model.Any())
            {
                @foreach (var e in Model)
                {
                    <article>
                        <div class="article-wrapper">
                            <figure>
                                <img src="@e.Image" alt="@e.Name" />
                            </figure>
                            <div class="article-body">
                                <h2>@e.Name</h2>
                                <p>@e.Discription</p>
                                <a class="read-more" asp-action="eventDetails" asp-controller="Event" asp-route-Id="@e.Id">
                                    إقرأ المزيد
                                    <img class="icon" src="~/icons/angle-small-left.png" alt="">
                                </a>
                            </div>
                        </div>
                    </article>
                }
            }
            else
            {
                <p class="no-results">لا توجد نتائج مطابقة.</p>
            }
        </section>
    </div>
</div>